<!doctype html>
<html>
    <head>
        <title>Clueless</title>
    </head>
    <body>
        <h>{{user}}, Please pick your character below!</h>
        <form action = "#" method = "POST">
            <h1>Characters:</h1>
            <input type = "radio" id = "MS" name = "PC" value = "Ms. Scarlett">
            <label for = "MS"> Ms. Scarlett</label><br>
            <input type = "radio" id = "CM" name = "PC" value = "Col. Mustard">
            <label for = "CM"> Col. Mustard</label><br>
            <input type = "radio" id = "MW" name = "PC" value = "Mrs. White">
            <label for = "MW"> Mrs. White</label><br>
            <input type = "radio" id = "MG" name = "PC" value = "Mr. Green">
            <label for = "MG"> Mr. Green</label><br>
            <input type = "radio" id = "MP" name = "PC" value = "Mrs. Peacock">
            <label for = "MP"> Mrs. Peacock</label><br>
            <input type = "radio" id = "PP" name = "PC" value = "Professor Plum">
            <label for = "PP"> Professor Plum</label><br>
            <p><input type = "submit" name = "PC" /></p>
        </form>
    </body>
</html>